<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262.climbinglogapp"  >

    <uses-sdk android:minSdkVersion="11"> </uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:icon="@drawable/routes_hex_icon">

        <!-- Main activity that is seen at start-up -->
        <activity
            android:name="edu.calvin.cs262.climbinglogapp.MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Profile page -->
        <activity android:name="edu.calvin.cs262.climbinglogapp.Profile"
            android:label="@string/profile_label" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DATA" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!-- Gyms page -->
        <activity android:name="edu.calvin.cs262.climbinglogapp.Gyms"
            android:label="@string/gyms_label">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DATA" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!-- Friends page -->
        <activity android:name="edu.calvin.cs262.climbinglogapp.Friends"
            android:label="@string/friends_label">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DATA" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!-- Routes page -->
        <activity android:name="edu.calvin.cs262.climbinglogapp.Routes"
            android:label="@string/routes_label">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DATA" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!-- Log page -->
        <activity android:name="edu.calvin.cs262.climbinglogapp.ClimbLogger"
            android:label="@string/logger_label"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

    </application>

</manifest>
